@import "tailwindcss";

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717; /* Light mode foreground */
}

.dark {
  /* Define dark mode variables when .dark class is present */
  --background: #0a0a0a; /* Dark mode background */
  --foreground: #ededed; /* Dark mode foreground */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(
    --font-geist-sans
  ); /* Utilise la police Geist Sans par défaut */
}

html {
  scroll-behavior: smooth;
}

.animate-fade-in-down {
  animation: fadeInDown 0.3s ease;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.animate-fade-in {
  animation: fadeInTab 0.3s ease;
}
@keyframes fadeInTab {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
